$color-primary: #217bf4;
$color-secondry: #d4e7fe;
$color-black: #0a093d;
$color-dark-blue: #0a093d;
$color-white: #fff;
$color-light-grey: #b9b9b9;
$color-light-grey-2: #e7e7e7;
$color-m-grey: #8c8c8c;
$color-dark-grey: #20202d;
$color-dark-grey-2: #5d5b70;
$color-text-grey: #656464;
$color-text-black: #2b2b39;
$color-link-grey: #4a4a56;
$color-yellow: #f2ff007f;
